html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

#navig {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

#tp {
    color: #66FCF1;
}

#thomaspara {
    height: 300px;
}

.social {
    color: #66FCF1;
}

#cld:hover {
    color: #66FCF1;
}

#zou:hover {
    color: #66FCF1;
}

#kw:hover {
    color: #66FCF1;
}

.flwlnk {
    color: #66FCF1;
}

.flwlnk:hover {
    color: #C5C6C7;
}